/* - - - - - - - - - - - - - - - - - - - - -
 * Docheader
 **/

#typo3-docheader .left .buttongroup {
	margin-right: 12px;
}
#typo3-docheader .right .buttongroup {
	margin-left: 12px;
}

#typo3-docheader-row2,
.typo3-docheader-functions {
	background-color: rgb(30, 30, 30);
	border-bottom: 1px solid rgb(60, 60, 60);
	color: rgb(110, 110, 110);
}

#typo3-docheader-row1,
.typo3-docheader-buttons {
	background-color: rgb(30, 30, 30);
	color: rgb(110, 110, 110);
	border-bottom: 1px solid rgb(60, 60, 60);
}

#typo3-docheader-row1 a,
.typo3-docheader-buttons a {
	padding: 6px;
	margin-right: 6px;
	background-color: rgb(110, 110, 110);
}
#typo3-docheader-row1 a:hover,
.typo3-docheader-buttons a:hover {
	background-color: rgb(0, 181, 255);
}

#typo3-docheader img,
#typo3-docheader input {
	cursor: pointer;
}

#typo3-docheader .left .t3-icon,
#typo3-docheader .right .t3-icon {
	margin: 0;
}