/* - - - - - - - - - - - - - - - - - - - - -
Tree
- - - - - - - - - - - - - - - - - - - - - */

body#typo3-pagetree,
body#typo3-alt-file-navframe-php {
	background: none;
}

#typo3-alt-file-navframe-php #typo3-docbody,
#typo3-alt-file-navframe-php #typo3-docheader-row1,
#typo3-alt-file-navframe-php #typo3-docheader-row2,
.typo3-pagetree-indicatorBar-item,
#typo3-pagetree-topPanelItems,
#typo3-pagetree-topPanel .typo3-pagetree-topPanel-item,
#typo3-pagetree-treeContainer,
#typo3-pagetree .x-panel-tbar,
#typo3-pagetree-deletionDropZone .x-panel-body {
	background-position: right;
	background-repeat: repeat-y;
}

#typo3-alt-file-navframe-php #typo3-docbody,
#typo3-pagetree-treeContainer {
	background: #333;
}

table#typo3-tree a {
	text-decoration: none;
}

body#typo3-alt-db-navframe-php div.c-notice {
	border: 1px solid black;
}

.navFrameHL {
	background-color: #d7dbe2;
}

.navFrameHL a {
	font-weight: bold;
}

table#typo3-tree tr:hover {
	background-color: #444;
}

/* - - - - - - - - - - - - - - - - - - - - -
Configuration trees, used in Admin Tools => Configuration
- - - - - - - - - - - - - - - - - - - - - */

table.t3-tree-config {
	background: none;
	border: 1px solid #adadad;
}

.x-tree-node a span {
	color: #DDD;
}

#typo3-pagetree .x-tree-node .x-tree-selected {
	background: #444;
	border-color: #444;
}

#typo3-pagetree .x-tree-node .x-tree-node-over {
	background: #555;
	border-color: #555;
}
