/* - - - - - - - - - - - - - - - - - - - - -
Tree
- - - - - - - - - - - - - - - - - - - - - */

body#typo3-pagetree,
body#typo3-alt-file-navframe-php {
	background: none;
	border-right:1px solid rgb(60, 60, 60);
}

#typo3-alt-file-navframe-php #typo3-docbody,
#typo3-alt-file-navframe-php #typo3-docheader-row1,
#typo3-alt-file-navframe-php #typo3-docheader-row2,
.typo3-pagetree-indicatorBar-item,
#typo3-pagetree-topPanelItems,
#typo3-pagetree-topPanel .typo3-pagetree-topPanel-item,
#typo3-pagetree-treeContainer,
#typo3-pagetree .x-panel-tbar,
#typo3-pagetree-deletionDropZone .x-panel-body {
	background-position: right;
	background-repeat: repeat-y;
}

#typo3-alt-file-navframe-php #typo3-docbody,
#typo3-pagetree-treeContainer {
	background: rgb(220, 220, 220);
}

table#typo3-tree a {
	text-decoration: none;
}

body#typo3-alt-db-navframe-php div.c-notice {
	border: 1px solid black;
}

.navFrameHL {
	background-color: #d7dbe2;
}

.navFrameHL a {
	font-weight: bold;
}

table#typo3-tree tr:hover {
	background-color: #d7dbe2;
}

/* - - - - - - - - - - - - - - - - - - - - -
Configuration trees, used in Admin Tools => Configuration
- - - - - - - - - - - - - - - - - - - - - */

table.t3-tree-config {
	background: none;
	border: 1px solid #adadad;
}
