/* - - - - - - - - - - - - - - - - - - - - -
 * Docheader
 **/

}

#typo3-docheader-row2,
.typo3-docheader-functions {
	background-color: rgb(30, 30, 30);
	border-bottom: 1px solid rgb(60, 60, 60);
	color: rgb(110, 110, 110);
}

#typo3-docheader-row1 {
	padding: 5px 25px 1px 25px;
}

#typo3-docheader-row1,
.typo3-docheader-buttons {
	background-color: rgb(30, 30, 30);
	color: rgb(110, 110, 110);
	border-bottom: 1px solid rgb(60, 60, 60);
}

#typo3-docheader-row1 a,
.typo3-docheader-buttons a {
	background-color: rgb(110, 110, 110);
}
#typo3-docheader-row1 a:hover,
.typo3-docheader-buttons a:hover {
	background-color: rgb(0, 181, 255);
	padding: 1px 1px 1px 5px;
}

#typo3-docheader img,
#typo3-docheader input {
	cursor: pointer;
}

.typo3-docheader-functions {
	padding-left: 29px;
}
