/* - - - - - - - - - - - - - - - - - - - - -
TYPO3 styles for basic elements
- - - - - - - - - - - - - - - - - - - - - */

table.t3-table,
.typo3-filelist,
table.typo3-dblist {
	background-color: #fff;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid rgb(205, 205, 205);
}

	table.t3-table tbody tr:nth-child(odd) td,
	table.t3-table tbody tr:nth-child(even) td,
	table.typo3-dblist tr.db_list_normal:nth-child(odd) td,
	table.typo3-dblist tr.db_list_normal:nth-child(even) td,
	table.typo3-dblist tr:nth-child(odd) td,
	table.typo3-dblist tr:nth-child(even) td {
		background-color: #fff;
		border-bottom: 1px solid rgb(220, 220, 220);
	}

	table.t3-table tbody tr:hover td,
	table.typo3-dblist tr:hover td {
		background-color: rgb(245, 245, 245);
	}

table.typo3-filelist tr td.c-headLine,
table.typo3-dblist tr td.c-headLine,
table.typo3-filelist tr.c-headLine td,
table.typo3-dblist tr.c-headLine td {
	background-color: rgb(240, 240, 240);
}

.t3-row-header a, .t3-row-header a:hover {
	color: #333;
	text-decoration: none !important;
}

.t3-icon-view-list-collapse {
	background-position: -126px -126px !important;
}

.t3-icon-view-list-expand {
	background-position: -270px -110px !important;
}

tr.db_list_normal td a {
	text-decoration: none;
}

tr.db_list_normal:hover td {
	background-color: #DDD !important;
}

