/* - - - - - - - - - - - - - - - - - - - - -
TCEforms
- - - - - - - - - - - - - - - - - - - - - */

.typo3-TCEforms .typo3-TCEforms-recHeaderRow {
	background-color: transparent;
}

table.wrapperTable tr.class-main2 td.palette-header,
table.wrapperTable1 .class-main12 td.palette-header {
	padding-left: 0;
}

fieldset.t3-form-palette-fieldset {
	margin: 0;
	padding: 0;
}

.typo3-TCEforms .class-main1 > td,
.typo3-TCEforms .class-main11 > td,
.typo3-TCEforms .class-main21 > td,
.typo3-TCEforms .class-main31 > td,
.typo3-TCEforms .class-main41 > td,
.typo3-TCEforms .class-main51 > td {
	padding: 0;
}

.typo3-TCEforms .class-main2 > td,
.typo3-TCEforms .class-main12 > td,
.typo3-TCEforms .class-main22 > td,
.typo3-TCEforms .class-main32 > td,
.typo3-TCEforms .class-main42 > td,
.typo3-TCEforms .class-main52 > td {
	padding: 0;
}

.t3-form-field-item {
	padding: 0;
}

.t3-form-palette-field-container {
	padding-bottom: 12px;
}