/* - - - - - - - - - - - - - - - - - - - - -
Pagetree
- - - - - - - - - - - - - - - - - - - - - */

#typo3-pagetree-treeContainer {
	background-color: rgb(220, 220, 220);
	border-right: 1px solid rgb(60, 60, 60)
}

#typo3-pagetree-topPanelItems {
	background-color: #1e1e1e;
}


#typo3-pagetree .x-panel-tbar {
	background-color: rgb(30, 30, 30);
	border-bottom: 1px solid rgb(60, 60, 60);
	color: rgb(110, 110, 110);
}

#typo3-pagetree .typo3-pagetree-topPanel-item {
	background-color: rgb(30, 30, 30);
	border-bottom: 1px solid rgb(60, 60, 60);
	color: rgb(110, 110, 110);
}

