body.ext-chrome #typo3-module-menu-xsplit,
body.ext-chrome #typo3-navigationContainer-xsplit,
#typo3-module-menu-xsplit,
#typo3-navigationContainer-xsplit {
	background: #333 url('../../Images/xsplit.png') top left repeat-x;
}

#typo3-navigationContainer-xcollapsed,
#typo3-navigationDummy {
	background: #333 url('../../Images/xsplit.png') top left repeat-x;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.x-panel-body-noheader,
.x-panel-mc .x-panel-body {
	border: none;
}