/* - - - - - - - - - - - - - - - - - - - - -
TYPO3 styles for basic elements
- - - - - - - - - - - - - - - - - - - - - */

body {
	background-color: rgb(230, 230, 230);
	color: #666;
	font-family: 'Noto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.5em;
	-webkit-font-smoothing: subpixel-antialiased;
}

h1,
h2,
h3,
h4 {
	color: #333;
	font-weight: normal;
}

h1 {
	margin: 6px 0 24px 0;
	line-height: 1.1em;
}

h2 {
	font-size: 1.4em;
	margin: 10px 0 20px 0;
}

h3 {
	font-size: 1.1em;
	padding: 2px 0;
	margin: 8px 0 10px;
}

h4 {
	font-size: 1em;
	text-transform: uppercase;
	margin: 6px 0;
}


a {
	color: #000;
	text-decoration: underline;
}

a:hover {
	color: rgb(0, 181, 255);
	-webkit-transition: color .100s;
	transition: color .100s;
}


.uppercase {
	padding-bottom: 0;
	border-bottom: none;
}