/* - - - - - - - - - - - - - - - - - - - - -
Module menu
- - - - - - - - - - - - - - - - - - - - - */

.t3-page-colHeader {
	background-color: rgb(230, 230, 230);
	color: rgb(110, 110, 110);
}

td.t3-gridCell {
	background-color: #fff;
	border-bottom: 1px solid rgb(205, 205, 205);
}