/* - - - - - - - - - - - - - - - - - - - - -
Toolbar inside the Topbar
- - - - - - - - - - - - - - - - - - - - - */

#typo3-topbar {
	background: #000;
	background-image: none;
	color: rgb(110, 110, 110);
}
#typo3-topbar a {
	color: rgb(110, 110, 110);
}

/* - - - - - - - - - - - - - - - - - - - - -
Topbar (whole upper area), containts Logo and toolbar
- - - - - - - - - - - - - - - - - - - - - */

#typo3-top-container {
	background: none;
	border-bottom: 1px solid rgb(60, 60, 60);
}

#typo3-toolbar .separator {
	border-right: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-ms-filter: none;
}

/* - - - - - - - - - - - - - - - - - - - - -
Live search
- - - - - - - - - - - - - - - - - - - - - */


#live-search-box {
	background-color: #555;
	color: #ccc;
	padding: 2px 2px 2px 22px;

}
	#live-search-box:focus {
		background-color: #fff;
		color: #000;
	}

.live-search-results .t3-icon-toolbar-menu-search {
	top: 5px;
}
