/**
 * Docheader
 **/

.typo3-docheader-pagePath {
}

.typo3-docheader-functions {
	/** 5% black */
	background-color: #f1f1f1;
	border-bottom: 1px solid #e5e5e5;
}

.typo3-docheader-buttons {
	/** 5% black */
	background-color: #f1f1f1;
	border-bottom: 1px solid #e5e5e5;
}

#typo3-docheader-row1 a,
.typo3-docheader-buttons a {
	padding: 6px;
	margin-right: 6px;
	background-color: #dedede;
}
#typo3-docheader-row1 a:hover,
.typo3-docheader-buttons a:hover {
	background-color: rgb(0, 181, 255);
}

#typo3-docheader img,
#typo3-docheader input {
	cursor: pointer;
}

/**
 * Fail-safe for non-core legacy extensions
 * @deprecated with TYPO3 version 6.0, will be removed with 6.2
 */

#typo3-docheader-row2 {
	background-color: #f1f1f1;
	border-bottom: 1px solid #e5e5e5;
}

#typo3-docheader-row1 {
	background-color: #f1f1f1;
	border-bottom: 1px solid #e5e5e5;
}