//
// Buttons
// --------------------------------------------------

body#typo3-backend-php {
	background-color: gray;
	min-width: 960px;
}

iframe#typo3-content {
	background-color: @body-bg;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .40);
}

#typo3-topbar {
}

#typo3-docbody {
	padding: 24px;
}

/** Info window */
#typo3-show-item-php {
	padding: 24px;
}

h1 {
	margin-top: 0;
	margin-bottom: 1em;
}