/* - - - - - - - - - - - - - - - - - - - - -
Tab menu
- - - - - - - - - - - - - - - - - - - - - */

/* @TODO: Deprecate or move to nav-tab */

table#typo3-tabmenu {
	margin-top: 5px;
}

table#typo3-tabmenu td.disabled {
	padding: 5px 10px 5px 10px;
}

table#typo3-tabmenu td a {
	display: block;
	margin-top: 1px;
	padding: 5px 10px 5px 10px;
	margin-right: 1px;
}

table#typo3-tabmenu td.tabact a {
	padding-left: 10px;
	padding-right: 10px;
}

/* - - - - - - - - - - - - - - - - - - - - -
Dynamic Tab menu
- - - - - - - - - - - - - - - - - - - - - */


.c-tablayer {
	margin: 0;
	padding: 0;
}

.nav-tabs {
	background-color: rgb(246, 246, 246);
	border-top: 1px solid rgb(233, 233, 233);
}

.tab-content {
	background-color: #fff;
	border-right: 1px solid rgb(233, 233, 233);
	border-bottom: 1px solid rgb(233, 233, 233);
	border-left: 1px solid rgb(233, 233, 233);
	padding: @line-height-computed;
}