<ul class="nav nav-modules" data-typo3-role="typo3-module-menu">
    <f:for each="{moduleMenu}" as="moduleMenuSection">
        <li>
            <a href="#" onClick="
                this.parentNode.classList.toggle('open');
                return false;
            ">
                <i class="fa fa-lg fa-inline fa-{moduleMenuSection.icon}"></i>
                <span class="nav-modules-title">{moduleMenuSection.title}</span>
            </a>
            <ul class="nav-modules-menu">
                <f:for each="{moduleMenuSection.subitems}" as="moduleItem">
                    <f:if condition="{moduleItem}">
                        <li title="{moduleItem.description}" data-path="{moduleItem.name}">
                            <a href="#" onClick="TYPO3.Backend.openModule('{moduleItem.name}');" title="{moduleItem.description}">
                                <span class="t3-app-icon t3-app-icon-inline"><f:image src="{moduleItem.icon.filename}" /></span>
                                {moduleItem.title}
                            </a>
                        </li>
                    </f:if>
                </f:for>
            </ul>
        </li>
    </f:for>
</ul>